{edoc_opts, [{application, ["loggErL"]}]}.

{deps, [
        {erlando, ".*", {git, "git://github.com/rabbitmq/erlando.git", {tag, "rabbitmq_v2.6.0"}}},
        {ibrowse, ".*", {git, "git://github.com/cmullaparthi/ibrowse.git", {tag, "v2.2.0"}}},
        {log4erl, ".*", {git, "git://github.com/ahmednawras/log4erl.git", {branch, "master"}}}
       ]}.
